
.form-group {
    width: 100%;
}

.center-div{
text-align: center;
margin-top: 20px;
}

.picture-hold {
    border: 1px solid #d1d1d1;
    height: 200px;
    text-align: center;
    margin-bottom: 20px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 14px;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
	background-color: #d3394c;
	color: #fff;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.address-confirm p {
    font-size: 12px;
    display: inline;
    margin-left: 30px;
}

.same-address {
    position: relative;
    margin: 0 !important;
    height: auto;
    left: 20px;
}

.scroll {
    position: relative;
    height: calc( 100% - calc(1rem));
    overflow-y: scroll;
    overflow-x: hidden;
}